@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

footer {
  display: flex;
  flex-direction: column;
  padding: 2em 8em;
  align-items: center;
  background-color: #FEF7F0;
  gap: 2em;
}

.title {
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.title p a {
  font-family: "Dancing Script", cursive;
  font-size: 42px;
  font-weight: 600;
  color: rgb(87, 87, 87);
}

.title p a:hover {
  font-size: 43px;
}

.title img {
  width: 40px;
}

footer .nav {
  display: flex;
  gap: 2em;
}

a {
  text-decoration: none;
  color: rgb(36, 36, 36);
  font-size: 22px;
  transition: 0.15s ease-in-out;
}

a:hover {
  color: rgb(139, 139, 139);
  transition: 0.15s ease-in-out;
}

.socials {
  display: flex;
  gap: 40px;
}

.socials svg {
  padding: 10px;
  border-radius: 5px;
  width: 23px;
  height: 23px;
  color: white;
  background-color: rgb(226, 58, 58);
  transition: 0.2s ease-in-out;
}

.socials svg:hover {
  padding: 6px;
  width: 27px;
  height: 27px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
