<div class="container">
    <form class="login" #form="ngForm" (ngSubmit)="login(form)">
        <fieldset>
            <h1>Login</h1>

            <p class="field">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" ngModel #inputEmail="ngModel" required
                    [appEmail]="['bg', 'com']">
            </p>

            <ng-container *ngIf="inputEmail.touched">
                <p class="error" *ngIf="inputEmail.errors?.['required']">
                    Email is required!
                </p>
                <p class="error" *ngIf="inputEmail.errors?.['emailValidator']">
                    Email is not valid!
                </p>
            </ng-container>

            <p class="field field-password">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" ngModel #inputPassword="ngModel" required
                    minlength="5">
            </p>

            <ng-container *ngIf="inputPassword.touched">
                <p class="error" *ngIf="inputPassword.errors?.['required']">
                    Password is required!
                </p>
                <p class="error" *ngIf="inputPassword.errors?.['minlength']">
                    Password must be at least 5 characters!
                </p>
            </ng-container>

            <button class="colored-btn">Login</button>

            <p class="text">
                Don't have an account?
                <a class="bordered-btn" routerLink="/auth/register">Register</a>
            </p>
        </fieldset>
    </form>
</div>