<div class="container">
    <form class="login">
        <fieldset>
            <h1>Login</h1>

            <p class="field">
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
            </p>

            <p class="field field-password">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </p>

            <button class="colored-btn">Login</button>

            <p class="text">
                Don't have an account?
                <a class="bordered-btn" routerLink="/auth/register">Register</a>
            </p>
        </fieldset>
    </form>
</div>