<div class="container">
    <img src="./../../../assets/profile.png" alt="default">
    <h2>Profile Details</h2>

    <ng-container *ngIf="!showEditMode">
        <div class="item">
            <h3>Username:</h3>
            <p>{{profileDetails.username}}</p>
        </div>

        <div class="item">
            <h3>Email:</h3>
            <p>{{profileDetails.email}}</p>
        </div>

        <button class="colored-btn btn" (click)="onToggle()">Edit</button>
    </ng-container>

    <ng-container *ngIf="showEditMode">
        <form [formGroup]="form" (ngSubmit)="saveProfile()">
            <div class="item">
                <h3>Username:</h3>
                <input type="text" name="username" id="username" [value]="profileDetails.username"
                    formControlName="username">
            </div>

            <div class="item">
                <h3>Email:</h3>
                <input type="text" name="email" id="email" [value]="profileDetails.email" formControlName="email">
            </div>

            <div class="buttons">
                <a class="colored-btn btn" (click)="onToggle()">Cancel</a>
                <button class="green-btn btn">Save</button>
            </div>

        </form>
    </ng-container>
</div>