<div class="intro-background">
    <div class="intro">
        <h1>About us</h1>
        <p>We use only fresh and natural ingredients for our recipes and bringing something
            new to every cake we make. Whenever you have a party, we are at your service!</p>
        <div class="container">
            <div class="item">
                <img src="./../../assets/hat.png" alt="">
            </div>
            <div class="item">
                <img src="./../../assets/leaves.png" alt="">
            </div>
            <div class="item">
                <img src="./../../assets/about-cupcake.png" alt="">
            </div>
            <div class="item">
                <img src="./../../assets/cutlery.png" alt="">
            </div>
        </div>
    </div>
</div>

<div class="about-background">
    <div class="about">
        <h1>Welcome to Victorias Cakes</h1>
        <div class="about-container">
            <img src="./../../assets/girl-photo-cake.png" alt="">
            <div class="text">
                <h2>We are cakes lovers as you are!</h2>
                <p>Victorias Cakes is a family business. Our founder is Victoria Taneva, a real fan of cooking and
                    baking. Over the past few years, our staff has grown somewhat, but each of us has quivering love for
                    amazing desserts. We use only natural ingredients, respect traditional recipes, but always try to
                    bring something of our own, new and incredibly tasty.
                    Every cake made by Victorias Cakes is a fresh, stylish and yummy dessert in your favorite colors,
                    with selected fillings and
                    flavors. Have yourself a tasty little holiday!</p>

                <p class="italic">“A delicious cake is not just a pleasant ending of the holiday evening. A cake is the
                    king of the party, and if it fails, it will be remembered for a long time. Conversely, a beautiful
                    and delicious cake becomes a memorable highlight of your holiday. I have always wanted to make cakes
                    that will resonate in the hearts of all sweets lovers. Now I enjoy watching my assistants at
                    Victorias Cakes caring for cake making process with the same love and awe. We love what we do, and
                    you love to taste it!”</p>

                <h3>Victoria Taneva</h3>

                <p>Founder</p>
            </div>
        </div>
    </div>
</div>